.eventdetail {
  margin-right: 1rem !important;
  margin-left: 1rem !important;
  margin-bottom: 1rem !important;
  box-shadow: 5px 5px 5px rgb(122, 117, 117) !important;

  &__button {
    width: 200px !important;
    margin: auto !important;
  }
  // &__img {
  //     box-shadow: 5px 5px 5px rgb(122, 117, 117) !important;
  // }
  &__edit__avatar {
    margin-top: 1rem !important;
  }
}

.link-profile {
  color: orangered;  
  // &-length {
  //   color: orangered; 
  //   &:before {
  //     content: ', '
  //   }   
  // }
}

