.dashboard {
  &__content {

    &__cardgroups {
      margin-top: 1rem !important;

      &__cards {
        height: 420px;
        justify-content: center;
        overflow-y: auto;
        margin-bottom: 5rem !important;
      }
    }
  }
}
