.ui.input {
  &>input {
    border-top-right-radius: 15px !important;
    border-bottom-right-radius: 15px !important;
    border-color: orange !important;
  }
  
  &>.label {
    background-color: orange !important;
    color: black !important;
  }
}

