.textarea {
    resize: none;
}

.modal__img {
    box-shadow: 5px 5px 5px rgb(122, 117, 117) !important;
    
}
.modal__img__input {
  text-align: center;
  width: 200px;    
    margin-bottom: 1rem !important;
}
