.infos {
  display: flex;
  flex-direction: column;
  background-color: rgb(241, 206, 109);
  padding: 1rem;
  border-radius: 1rem;
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.1);
}

.form__flex {
  display: flex;
  align-items: center;
  flex-flow: column nowrap;
}

.infos__input {
  width: 205px;
  margin-left: -120px;
  padding: 5px;
  display: block;  
}

.description {
  &-padded {
    padding: 8px;
  }

  &__row {
    display: flex;
    justify-content: center;
    margin-left: -120px;
    padding: 5px;
  }

  &__input {
    width: 200px;
    text-align: center;
  }
}

.save-btn-group {
  & > a {
    padding-top: 1.5rem !important;
  }
}

.profile-autocomplete {
  display: flex;
  justify-content: center;
}

.profile-dropdown {
  margin-bottom: 1rem;
  border-top-right-radius: 15px !important;
  border-bottom-right-radius: 15px !important;
  border-color: orange !important;
  border-top-left-radius: 0px !important;
  border-bottom-left-radius: 0px !important;
  max-width: 200px !important;
  height: 52px !important;

  // &>.text {
  //   width: 200px !important;
  //   text-overflow: clip !important;
  //   white-space: nowrap !important;
  //   word-break: break-all !important;
  //   color: red !important;
  // }
}

.profile-label {
  background-color: #FFA500 !important;
  height: 52px !important;
  width: 120px !important;
  color: black !important;
  font-size: 14px !important;
  margin: 0 !important;
  border-top-right-radius: 0px !important;
  border-bottom-right-radius: 0px !important;
  // margin-left: .4rem !important;
  text-align: center !important;
  padding-top: 1.2rem !important;
}
