.footer {
<<<<<<< HEAD
    width: 100%;
    background-color: #f2711c;
    margin: auto;
    padding: 2rem;
    text-align: center;
    color: white;
    border-radius: 5px;
=======
  width: 100%;
  background-color: #F2711C;
  padding: 2rem;
  text-align: center;
  color: white;
  border-radius: 5px;
>>>>>>> signin
}
