.footer {
    width: 1366px;
    margin-top: 1rem;
    background-color: #F2711C;
    padding: 2rem;
    text-align: center;
    color: white;
    position: absolute;
    bottom: 0;
    border-radius: 5px;
}