.map {
<<<<<<< HEAD
  &__container {
=======

  &__container {

>>>>>>> signin
    &--small {
      height: 200px;
      width: 300px;
    }

    &--large {
      height: 400px;
<<<<<<< HEAD
      width: 100%;
      margin: auto;
=======
      width: 600px;
>>>>>>> signin
    }
  }
}
