.map {

  &__container {

    &--small {
      height: 200px;
      width: 100%;
    }

    &--large {
      height: 400px;
      width: 100%;
<<<<<<< HEAD
=======
      margin: auto;
>>>>>>> fd3e9ecedbccff23d5331fb5b90604b9d9c3a354
    }
  }
}
